<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mynetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BDF73C61C11308E00C5C5FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BDF73DA1C11308E00C5C5FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BDF73E51C11308E00C5C5FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
